---
import RootLayout from "../layouts/root.astro";
import { SmolDocumentStyle } from "../components/SmolDocumentStyle";
import * as styles from "./index.css";
const days: { theme: string; url?: string }[] = [
  { theme: "Nature" },
  { theme: "CSS" },
  { theme: "Color" },
  { theme: "Lists" },
  { theme: "Food" },
  { theme: "Notifications", url: "/notifications" },
  { theme: "Science" },
  { theme: "Hashtags" },
  { theme: "Blessed", url: "/blessed" },
  { theme: "Art", url: "/art" },
  { theme: "API" },
  { theme: "Ritual" },
  { theme: "GIFs" },
  { theme: "History" },
  { theme: "Audio" },
  { theme: "Social" },
  { theme: "Dimensions" },
  { theme: "Words" },
  { theme: "Data" },
  { theme: "Capitalism" },
  { theme: "Memes" },
  { theme: "Bugs" },
  { theme: "IRL" },
  { theme: "Cursed" },
  { theme: "Interactive" },
  { theme: "Chat" },
  { theme: "Nostalgia" },
  { theme: "Generative" },
  { theme: "Forms" },
  { theme: "Emoji" },
  { theme: "Spooky" },
];
---

<RootLayout title="Weird Web October (Mitchell Busby)">
  <Fragment slot="head">
    <style>
      h1,
      h2,
      a {
        color: orange;
      }
    </style>
  </Fragment>
  <div class={styles.wrapper}>
    <h1>
      Hello, World! This is Mitchell's website for <a
        href="https://weirdweboctober.website/">Weird Web October</a
      >
    </h1>
    <p>
      👋 I'm doing a few challenges from Weird Web October (aiming for once a
      week) just to get the creative juices flowing. Here's mine:
    </p>
    <ol class={styles.list}>
      {
        days.map((day) =>
          day.url ? (
            <li>
              <a href={"/wwo-24" + day.url}>{day.theme}</a>
            </li>
          ) : (
            <li>{day.theme}</li>
          )
        )
      }
    </ol>
    <p>
      Also check out my pal <a href="https://by.georgie.nu/weird/"
        >Georgie's entries</a
      > - she's doing a stellar job keeping up with the daily challenges (and inspired
      me to start with her banger entries 😂)
    </p>
    <div class={styles.typoStack}>
      <h2>About me</h2>
      <p>
        I'm Mitchell! You can find me on the rest of the web at <a
          href="https://www.mitchellbusby.com/">mitchellbusby.com</a
        > and <a href="https://aus.social/@busbub">on Mastodon!</a>
      </p>
    </div>
    <div class={styles.typoStack}>
      <h2>About this site</h2>
      <p>
        This is a little <a href="https://astro.build/">Astro-based</a> static site
        hosted on Github - <a href="https://github.com/mitchellbusby/wwo-24"
          >check out the source code.</a
        >
      </p>
    </div>
  </div>
  <SmolDocumentStyle />
</RootLayout>
